.department-container {
  width: 98%;
  margin: auto;
  text-align: center;
  padding-top: 1rem;
}
:host ::ng-deep table {
  width: 100%;
  text-align: initial;
}
:host ::ng-deep .mat-header-cell {
 font-size: 0.95rem !important;
}
:host ::ng-deep .btn-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
:host ::ng-deep th.mat-header-cell {
  border-bottom: none;
  height: 100%;
}
:host ::ng-deep td.mat-cell {
   padding: 0 0.2%;
}
:host ::ng-deep .mat-sort-header-content {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
