<mat-form-field appearance="fill" class="position-form-field">
  <mat-label for="position">Должность</mat-label>
  <input
    matInput type="text"
    name="position"
    id="position"
    [(ngModel)]="position"
    [matAutocomplete]="positionAuto"
    (ngModelChange)="inputChanged($event)"
    required>
  <mat-autocomplete #positionAuto="matAutocomplete">
    <mat-option *ngFor="let existingPosition of filteredPositions" [value]="existingPosition">
      {{existingPosition}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
